.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.listFilms{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.filterfilm{
  margin-top: 20px;
}

.model{
  margin-top: -40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
}

.home{
  height: 450px;
  text-align: center;
  background-image: url("https://www.journaldugeek.com/content/uploads/2018/06/netflix-juillet-1-e1530090252484.jpg");
}

.me-auto{
 font-size: larger;
}
.lin{
  font-style: italic;
  font-size: large;
  text-align: justify;
  color:red;
}
